<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.second">
    <!-- 往SDCard的创建与删除文件权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_PROFILE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity" android:configChanges="orientation|screenSize" android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsActivity"  android:label="@string/reg" />
        <activity android:name=".SdCardActivity"/>
        <activity android:name=".MyActivity" android:label="@string/ror"/>
        <activity android:name=".MultiActivity" android:label="@string/select_icon"/>
        <activity android:name=".MyActivity2" android:label="@string/icon_list"/>
        <activity android:name=".LoginActivity" android:label="@string/login_page"/>
        <!-- 配置Service组件,同时配置一个action -->
        <service android:name=".service.TestService1" android:exported="false">
            <intent-filter>
                <action android:name="com.example.second.service.TEST_SERVICE1"/>
            </intent-filter>
        </service>
        <service android:name=".service.TestService2" android:exported="false">
            <intent-filter>
                <action android:name="com.example.second.service.TEST_SERVICE2"/>
            </intent-filter>
        </service>
        <service android:name=".service.TestService3" android:exported="false">
            <intent-filter >
                <action android:name="com.example.second.service.TEST_SERVICE3"/>
            </intent-filter>
        </service>
        <receiver android:name=".BootCompleteReceiver">
            <intent-filter>
                <action android:name = "android.intent.cation.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.broadcasttest.MY_BROADCAST"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.example.second.NameContentProvider"
            android:authorities="com.example.second.providers.myprovider"
            android:exported="true" />
    </application>

</manifest>